footer {
    background-color: var(--grey);
    color: white;
    height: 124px;
    border-radius: 0px;
    padding: 22px 25px 22px 25px;
    position: relative;
    border-radius: 0px;
}

footer h5 {
    font-family: 'Shrikhand';
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    display: flex;
}

footer article {
    display: flex;
    flex-direction: column;
}

ul.part1 {
    font-weight: bold;
    list-style-type: none;
    padding: 0%;
    margin: 16px 0 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

ul.part1 li {
    display: flex;
    gap: 10px;
}

ul.part2 {
    list-style-type: none;
    padding: 0%;
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

ul.part2 li a {
    text-decoration: none;
    color: white;
}

/* ecran inferieur à 1024px */
/***********************************************************************************************************/
/***********************************************************************************************************/
@media screen and (min-width: 767px) {

    footer h5 {
        align-items: center;
        justify-content: center;
        font-family: 'Shrikhand';
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        display: flex;
    }

    footer article {
        align-items: center;
        justify-content: center;
    }

    ul.part1 {
        margin: 16px 0 0 36px;
    }

}

/* ************************************************************************1****************************************** */
/* Desktop */
@media (min-width: 1024px) {

    footer {
        position: relative;
        padding: 22px 25px 22px 25px
    }

    footer h5 {
        text-align: left;
        position: absolute;
        right: 5.02%;
        top: 45%;
    }

    footer article {
        flex-direction: row;
        display: flex;
        align-items: baseline;
        margin-top: 37px;
    }

    ul.part1 {
        flex-direction: row;
        display: flex;
        gap: 10px;
    }

    ul.part2 {
        flex-direction: row;
        display: flex;
        padding: 0%;
        gap: 15px;
        margin: 16px -68px 0px 25px;
    }

    ul.part2 li a {
        margin-left: 15px;
    }
}