:root {
  --vert-clair: #99e2d0;
  --vert: #008766;
  --bleu-clair: #89c8fa;
  --bleu: #003a68;
  --violet: #9356dc;
  --Button: (200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  --grey: #353535;
  --grey2: #EAEAEA;
  --jaune: #FCA311;
}


body {
  background: #F7F7F7;
  margin: auto;
  max-width: 1920px;
  font-family: 'roboto';
}

h1,
h2,
h3,
h4,
h5,
p{
  margin: 0;
}
